body {
  background: #34796b;
  background: -webkit-linear-gradient(to right, #093637, #34796b);
  background: linear-gradient(to right, #093637, #34796b, #093637);
}
a {
  text-decoration: none !important;
}
